.App {
	text-align: center;
}

.projects-list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;

	.project-card {
		margin: 2% 0;
		border: 3px solid red;
		border-radius: 10px;

		&.completed {
			border: 3px solid green;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.project-details {
	width: 60%;
	height: 100vh;
	margin: 0 auto;
	text-align: left;
	padding: 2% 4%;
	border-color: lightgray;
	border-style: solid;
	border-width: 0 1px 0 1px;

	a {
		color: black;
		font-weight: bold;
	}

	h2 {
		padding-bottom: 1%;
		border-bottom: 1px solid lightgray;
	}

	.action {
		border-top: 1px solid lightgray;
	}
}
